<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Project 1.1.1</title>
        <link rel="stylesheet" href="static/style.css">
        <script src="https://unpkg.com/@phosphor-icons/web"></script>
    </head>
    <body>
        <div class="container">
            <h1>Project 1.1.1</h1>
            <p>Welcome to Project 1.1.1 Web application</p>
            <p>Register here or Sign up</p>
            <div class="buttons">
                <button class="register-button">
                    <i class="ph ph-user"></i>
                </button>
                select
                <button class="sign-up-button">
                    <i class="ph ph-user-plus"></i>
                </button>
            </div>
            <p>Here you can upload your audio and check the quality of your audio file</p>
            <div class="footer">Ahmed, Haiqa & Noor</div>
        </div>
    </body>
</html>